.root
  width 100%

.wrapper
  display flex
  padding 10px 0

.photosContainer
  width 80%
  display flex
  flex-wrap wrap
  justify-content flex-start

.photo
  border none
  width 200px
  height 200px
  margin 0 10px 10px 10px
  background-size cover
  cursor pointer

.labelsContainer
  display flex
  flex-direction column
  flex 1

.label
  display flex
  justify-content space-between

.label
  div:last-child
    width 50%
