<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{ title }}}
  <script>
    window.INITIAL_STATE = {{{ initialState }}};
    window.ASYNC_STATE = {{{ asyncState }}};
    window.JOBS_STATE = {{{ jobsState }}};
  </script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="react-root">{{{ reactString }}}</div>
</body>
</html>
